
/* Estilos del sitio */

body {
    margin-bottom: 1em;
}

@media screen and (min-width: 641px) {
    section > div {
        float: left;
        margin: 1em;
    }

    section > div:first-child {
        width: calc(25% - 2em);
    }

    section > div:last-child {
        width: calc(75% - 2em);
    }

    img#portada {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    img#portada {
        width: 50%;
    }
}

div > ol {
    list-style: none;
}

ol > ol {
    margin-top: 1em;
    margin-bottom: 1em;
}

table#descarga {
    width: 100%;
    margin-top: .5em;
}

td {
    width: 50%;
    padding: .25em;
}

td:first-child > p {
    text-align: right;
    margin-right: .5em;
}

td:last-child > p {
    text-align: left;
    margin-left: .5em;
}

hr {
    margin: 1em auto;
    width: 30%;
    margin-left: 35%;
    border: 1px dotted black;
}

footer {
    clear: both;
    padding-top: 4em;
}
